.bg-effect {
    /* quero uma transersal na direita */
    background-color: #ddd;

    /* animação */

    /* a perfect ball */
    border-radius: 100%;

    z-index: 1;
    position: fixed;
    right: -200px;
    top: -200px;
    width: 1000px;
    height: 1000px;

    z-index: 0;
}

header, main, footer {
    z-index: 1;
}
